<app-view id="BaseView">

	<view-row width="10">
		<view-column width="2">kek</view-column>
		<view-column width="8"><h1>It Works!</h1></view-column>
	</view-row>

	<view-row width="1">
		<view-column>
			<view-include view="MenuBlockView"></view-include>
		</view-column>
	</view-row>

	<view-row width="1" fill>
		<view-column>Heh</view-column>
	</view-row>

	<view-row width="3">
		<view-column></view-column>

		<view-column width="1">
			<view-yield></view-yield>
		</view-column>

		<view-column></view-column>
	</view-row>

</app-view>

