<app-view id="BaseView">

	<view-row width="10">
		<view-column width="2" class="left-link top-link loader-hides">
			<c-link id="back" text="Назад" iconClass="back" iconVisible="true" back="true"></c-link>
		</view-column>

		<view-column width="6"></view-column>

		<view-column width="2">
			<div class="loading-container">
				<c-loading id="loading" class="network"></c-loading>
			</div>
		</view-column>
	</view-row>

	<view-row fill collapses>
		<view-column></view-column>
	</view-row>


	<view-yield></view-yield>


	<view-row fill collapses>
		<view-column></view-column>
	</view-row>

	<view-row width="2">
		<view-column width="1" class="left-link bottom-link loader-hides">
			<c-link id="user" iconClass="user" iconVisible="true" visible="false"></c-link>
		</view-column>

		<view-column width="1" class="right-link bottom-link loader-hides">
			<c-link id="scores" iconClass="scores" iconVisible="true" text="Таблица лидеров" align="right"
					visible="false">
			</c-link>
		</view-column>
	</view-row>

</app-view>
