<app-view id="HelpView" inherits="BaseView">

	<view-row>
		<view-column></view-column>

		<view-column width="5">
			<div class="grand-or grand-center">КРАТКО ПРО ИГРУ</div>
		</view-column>

		<view-column></view-column>
	</view-row>

	<view-row collapses>
		<view-column filler></view-column>
		<view-column></view-column>

		<view-column width="5">
			<div class="game-info">

				<p>
					Мы хотим сделать Project MOTION игрой-путешествием на космическом корабле в мир
					абстракции, где время и пространство трёх измерений сливаются в единое целое,
					а диктат материального перестаёт существовать.
				</p>

				<p class="game-imgs">
					<img src="/app/img/sketch.jpg">
					<img src="/app/img/screen.png">
				</p>

			</div>
		</view-column>

		<view-column></view-column>
		<view-column filler></view-column>
	</view-row>


</app-view>
