<app-view id="LoadingView" inherits="BaseView">

	<view-row width="8">
		<view-column width="0.5" filler></view-column>

		<view-column width="1.5">
			<c-info-box id="errors" class="expands"></c-info-box>
		</view-column>

		<view-column width="2.5">
		</view-column>

		<view-column width="1.5">
			<c-info-box id="info" class="expands"></c-info-box>
		</view-column>

		<view-column width="0.5" filler></view-column>
	</view-row>

	<form>
		<view-include view="FormRowView">
			<c-input id="email" placeholder="Email"></c-input>
		</view-include>

		<view-include view="FormRowView">
			<c-input id="password" placeholder="Пароль"></c-input>
		</view-include>

		<view-include view="FormRowView">
			<c-button id="submit" text="Войти" social="true" inline="true"></c-button>
		</view-include>
	</form>

</app-view>
