<app-view id="LoginView" inherits="BaseView">

	<!--<view-row width="8">
		<view-column width="0.5" filler></view-column>

		<view-column width="1.5">
			<c-info-box id="errors" class="expands"></c-info-box>
		</view-column>

		<view-column width="2.5">
		</view-column>

		<view-column width="1.5">
			<c-info-box id="info" class="expands"></c-info-box>
		</view-column>

		<view-column width="0.5" filler></view-column>
	</view-row>-->
	<view-row collapses>
		<view-column filler></view-column>
		<view-column></view-column>
		<view-column width="6">
			<c-info-box id="errors" class="always-expands" text="Для продолжения необходимо авторизоваться."
						visible="false">
			</c-info-box>
		</view-column>
		<view-column></view-column>
		<view-column filler></view-column>
	</view-row>

	<form>
		<view-include view="FormWideRowView">
			<view-row>
				<view-column>
					<c-input id="email" placeholder="Email или логин"></c-input>
				</view-column>
				<view-column width="0.1"></view-column>
				<view-column></view-column>
			</view-row>
		</view-include>

		<view-include view="FormWideRowView">
			<view-row>
				<view-column>
					<c-input id="password" placeholder="Пароль" password="true">
					</c-input>
				</view-column>
				<view-column width="0.1"></view-column>
				<view-column></view-column>
			</view-row>
		</view-include>

		<view-include view="FormWideRowView">
			<view-row>
				<view-column>
					<c-button id="submit" text="Войти" inline="true"></c-button>
				</view-column>

				<view-column width="0.1"></view-column>

				<view-column>
					<c-button id="vk-login" text="Войти через VK" vk="true" class="btn-blue" inline="true">
					</c-button>
				</view-column>
			</view-row>
		</view-include>
	</form>

</app-view>
