<app-view id="MainView" inherits="BaseView">

	<view-include view="FormRowView">
		<div class="grand-or grand-center grand-logo-project">PROJECT</div>
		<div class="grand-or grand-center grand-logo-motion">MOTION</div>
	</view-include>

	<view-include view="FormRowView">
		<c-button id="singlePlayer" text="Одиночная игра"></c-button>
	</view-include>

	<view-include view="FormRowView">
		<c-button id="multiPlayer" text="Сетевая игра" social="true" class="btn-gray"></c-button>
	</view-include>

	<view-include view="FormRowView">
		<c-button id="help" text="Помощь" class="btn-help"></c-button>
	</view-include>

</app-view>
