<app-view id="ScoresView" inherits="BaseView">

	<!--<view-row collapses>-->
		<!--<view-column filler></view-column>-->
		<!--<view-column></view-column>-->
		<!--<view-column width="6">-->
			<!--<c-table-score id="table-score1"></c-table-score>-->
		<!--</view-column>-->
		<!--<view-column></view-column>-->
		<!--<view-column filler></view-column>-->
	<!--</view-row>-->
	<view-row width="12">
		<view-column width="12"><c-table-score id="table-score1"></c-table-score></view-column>
	</view-row>

</app-view>
