<app-view id="SecondView">


	<view-row width="10">
		<view-column width="2"></view-column>

		<view-column width="6">
		</view-column>

		<view-column width="2"></view-column>
	</view-row>

	<view-row fill>
		<view-column></view-column>
	</view-row>

	<view-include view="FormRowView">
		<c-input id="email" placeholder="Email"></c-input>
	</view-include>

	<view-include view="FormRowView">
		<c-input id="password" placeholder="Пароль"></c-input>
	</view-include>

	<view-include view="FormRowView">
		<c-button id="submit" text="Войти" social="true"></c-button>
	</view-include>

</app-view>
