<app-view id="SecondView">


	<view-row width="10">
		<view-column width="2"></view-column>

		<view-column width="6">
		</view-column>

		<view-column width="2"></view-column>
	</view-row>

	<view-row fill>
		<view-column></view-column>
	</view-row>

	<view-row width="8">
		<view-column width="1" filler></view-column>
		<view-column width="1.5"></view-column>

		<view-column width="2.5">
			<c-link text="я ссылка"></c-link>
			<c-input id="email" placeholder="Email"></c-input>
			<c-input id="password" placeholder="Пароль"></c-input>
			<c-button id="btn-2" text="я вторая кнопочка"></c-button>
			<c-button id="btn-2" text="я вторая кнопочка" social="true"></c-button>
			<!--<c-loading id="loading2"></c-loading>-->
		</view-column>

		<view-column width="1.5"></view-column>
		<view-column width="1" filler></view-column>
	</view-row>

</app-view>
