<app-view id="SecondView">


	<view-row width="10">
		<view-column width="2"></view-column>

		<view-column width="6">
		</view-column>

		<view-column width="2"></view-column>
	</view-row>

	<view-row fill>
		<view-column></view-column>
	</view-row>

	<view-row width="10">
		<view-column></view-column>

		<view-column width="0.8">
			<c-input id="email" placeholder="Email"></c-input>
			<c-input id="password" placeholder="Пароль"></c-input>
			<c-button id="btn-2" text="я вторая кнопочка" social="true"></c-button>
			<c-loading id="loading2"></c-loading>
			<br><br><br>
		</view-column>

		<view-column><br><br><br><br></view-column>
	</view-row>

</app-view>
