<app-view id="SignUpView" inherits="BaseView">

	<!-- OLD STUFF
	<view-row collapses>
		<view-column filler></view-column>
		<view-column></view-column>
		<view-column width="6">
			<c-info-box id="errors" class="always-expands" display="none">
			</c-info-box>
		</view-column>
		<view-column></view-column>
		<view-column filler></view-column>
	</view-row>

	<form>
		<view-include view="FormWideRowView">
			<div class="grand-or">РЕГИСТРАЦИЯ</div>
		</view-include>

		<view-include view="FormWideRowView">
			<view-row>
				<view-column></view-column>
				<view-column width="2">
					<c-input id="login" placeholder="Логин" validates="RemoteLogin"></c-input>
				</view-column>
				<view-column></view-column>
			</view-row>
		</view-include>

		<view-include view="FormWideRowView">
			<view-row>
				<view-column></view-column>
				<view-column width="2">
					<c-input id="email" placeholder="Email" validates="RemoteEmail"></c-input>
				</view-column>
				<view-column></view-column>
			</view-row>
		</view-include>

		<view-include view="FormWideRowView">
			<view-row>
				<view-column></view-column>
				<view-column width="2">
					<c-input id="password" placeholder="Пароль" validates="RemotePassword"
							 password="true"></c-input>
				</view-column>
				<view-column></view-column>
			</view-row>
		</view-include>

		<view-include view="FormWideRowView">
			<view-row>
				<view-column></view-column>
				<view-column width="2">
					<c-input id="password-confirm" validates="ConfirmPassword"
							 placeholder="Пароль (Ещё раз)"></c-input>
				</view-column>
				<view-column></view-column>
			</view-row>
		</view-include>

		<view-include view="FormWideRowView">
			<c-button id="submit" text="Создать аккаунт" inline="true"></c-button>
		</view-include>
	</form>
	-->

	<!--<view-row collapses>
		<view-column filler></view-column>
		<view-column></view-column>
		<view-column width="6">
			<c-info-box id="errors" class="expands" visible="true">
			</c-info-box>
		</view-column>
		<view-column></view-column>
		<view-column filler></view-column>
	</view-row>-->

	<form>
		<view-include view="FormWideRowView">
			<view-row>
				<view-column>
					<div class="grand-or">НОВЫЙ АККАУНТ</div>
				</view-column>
				<view-column width="0.1"></view-column>

				<view-column>
					<c-info-box id="errors" class="expands" display="none"></c-info-box>
				</view-column>
			</view-row>
		</view-include>

		<view-include view="FormWideRowView">
			<view-row>
				<view-column>
					<c-input id="login" placeholder="Логин" validates="RemoteLogin"></c-input>
				</view-column>
				<view-column width="0.1"></view-column>
				<view-column></view-column>
			</view-row>
		</view-include>

		<view-include view="FormWideRowView">
			<view-row>
				<view-column>
					<c-input id="email" placeholder="Email" validates="RemoteEmail"></c-input>
				</view-column>
				<view-column width="0.1"></view-column>
				<view-column></view-column>
			</view-row>
		</view-include>

		<view-include view="FormWideRowView">
			<view-row>
				<view-column>
					<c-input id="password" placeholder="Пароль" validates="RemotePassword"
							 password="true" class="password"></c-input>
				</view-column>
				<view-column width="0.1"></view-column>
				<view-column></view-column>
			</view-row>
		</view-include>

		<view-include view="FormWideRowView">
			<view-row>
				<view-column>
					<c-input id="password-confirm" placeholder="Пароль (Ещё раз)" class="password"></c-input>
				</view-column>
				<view-column width="0.1"></view-column>
				<view-column></view-column>
			</view-row>
		</view-include>

		<view-include view="FormWideRowView">
			<view-row>
				<view-column>
					<c-button id="submit" text="Создать аккаунт" inline="true" enabled="false"></c-button>
				</view-column>
				<view-column width="0.1"></view-column>
				<view-column></view-column>
			</view-row>
		</view-include>
	</form>

</app-view>
