<component-info id="InfoBox" tag="info-box">

	<component-properties>

		<component-property name="visible" default="true" handler="onVisibleChange" type="Boolean">
		</component-property>

		<component-property name="text" default="" handler="onTextChange"></component-property>

		<component-property name="display" default="inherit" maps=".info-box@style.display">
		</component-property>

	</component-properties>

	<component-view>
		<div class="info-box">
			<ul class="texts"></ul>
			<ul class="oks"></ul>
			<ul class="warnings"></ul>
			<ul class="errors"></ul>
		</div>
	</component-view>

</component-info>
