
#pause-menu {
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    position: fixed;
    background-color: transparent;
}

#pause-menu__container {
    margin: auto;
    display: flex;
    flex-direction: column;
}

#pause-menu__continue, #pause-menu__exit {
    margin-bottom: 15px;
}


