<component-info id="Button" tag="button">

	<component-properties>
		<component-property name="social" default="false" handler="socialNets" type="Boolean"></component-property>
		<component-property name="text" default="" maps=".btn-txt@textContent"></component-property>
		<component-property name="link" handler="linkByButton" default=""></component-property>
		<component-property name="invertColors" default="false" type="Boolean"></component-property>
	</component-properties>

	<component-view class="with-padding">
		<view-row width="3"></view-row>

		<view-row width="3">
			<view-column width="0.1"></view-column>

			<view-column>
				<div class="btn">
					<span class=""></span>
					<span class="btn-txt"></span>
					<span class=""></span>
				</div>
			</view-column>

			<view-column width="0.1"></view-column>
		</view-row>

		<view-row width="3"></view-row>
	</component-view>

</component-info>
