

.btn {
	text-align: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/*margin-bottom: 0;*/
	font-weight: normal;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 25px;
	/*line-height: 1.5;*/
	border: 1px solid transparent;
	padding: 8px 12px;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 1em;

	background-color: #ff8f26;
	transition: padding 0.1s ease-in-out,
				top 0.1s ease-in-out,
				left 0.1s ease-in-out,
				width 0.1s ease-in-out,
				font-size 0.1s ease-in-out;
	position: relative;
}


.btn:hover {
	padding: 14px 12px;
	top: 7px;
	left: -10%;
	width: 120%;
	font-size: 1.2em;
	animation: btn-hover-color 0.25s linear;
}


@keyframes btn-hover-color {
	0% {
		background-color: #ff8f26;
	}
	10% {
		background-color: #ff8f26;
	}
	40% {
		background-color: #fec38c;
	}
	100% {
		background-color: #ff8f26;
	}
}


.btn span{
	display: inline-block;
	vertical-align: middle;
}

.btn a {
	text-decoration: none;
	color: inherit;
}


.btn-fa {
	background-color: #ff8f26;
}

.btn-social {
	/*position: relative;*/
	/*text-align: left;*/
	/*vertical-align: middle;*/
	white-space: nowrap;
	/**/
	/*overflow: hidden;*/
	/*text-overflow: ellipsis;*/
}

.btn-social>:first-child {
	position: relative;
	display: inline-block;
	/*left: 0;*/
	/*top: -3px;*/
	/*bottom: 0;*/
	width: 40px;
	/*line-height: 40px;*/
	/*font-size: 1.6em;*/
	text-align: center;
	/*border-right: 1px solid;*/
	margin-right: 5px;
}

.btn-social>:first-child:before {
	content: 'f';
}

.btn-social>:last-child {
	position: relative;
	display: inline-block;
	/*left: 0;*/
	/*top: -3px;*/
	/*bottom: 0;*/
	width: 40px;
	/*line-height: 40px;*/
	/*font-size: 1.6em;*/
	text-align: center;
	/*border-left: 1px solid;*/
	margin-right: 5px;
}

.btn-social>:last-child:after {
	content: 'vk';
}



/*.fa {*/
	/*display: inline-block;*/
	/*!*background-image: url('social_icons.png');*!*/
	/*background-repeat: no-repeat;*/
	/*background-position: -50px 0;*/
/*}*/


.orange:hover {
	background-color: #ffd90e;
}

.orange:active {
	background-color: #ff8f26;
}

.orange {
	background-color: #ff8f26;
}

.black {
	background-color: #222222;
}

.black:hover {
	background-color: #333333;
}

.black:active {
	background-color: #111111;
}
