

c-input input {
	width: 100%;
	box-sizing: border-box;
	background-color: white;
	padding: 5px;
	border-radius: 7px;
	border: solid white;
	position: relative;
	top: 0;
	left: 0;
	font-size: 0.9em;

	transition: padding 0.2s cubic-bezier(.5,-0.86,.47,1.73),
				top 0.2s cubic-bezier(.5,-0.86,.47,1.73),
				left 0.2s cubic-bezier(.5,-0.86,.47,1.73),
				width 0.2s cubic-bezier(.5,-0.86,.47,1.73),
				font-size 0.2s cubic-bezier(.5,-0.86,.47,1.73),
				box-shadow 0.2s linear;

}

c-input input:focus {
	outline: none;
	padding: 4px;
	top: -2px;
	left: -4%;
	width: 108%;
	font-size: 1.1em;
	box-shadow: #ff8f26 0 0 20px 4px;
}
