html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

app-content {
	display: flex;
	min-height: 100%;
}

app-view {
	display: flex;
	flex-direction: column;
	flex: 1;
}

view-row {
	position: relative;
	display: flex;
	flex-direction: row;
}

view-column {
	position: relative;
	display: block;
	flex: 1
}

component-view {
	display: block;
}


view-include {
	display: block;
}


@media all and (max-width: 600px) {
	view-row {
		flex-direction: column;
		padding-left: 30px;
		padding-right: 30px;
	}

	.expands {
		max-height: none;
	}
}


@media all and (min-width: 601px) and (max-width: 1000px) {
	view-row [filler] {
		display: none;
	}
}

