html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

app-content {
	display: flex;
	min-height: 100%;
}

app-view {
	display: flex;
	flex-direction: column;
	/*justify-content: space-around;
	align-content: space-around;*/
	flex: 1;
}

view-row {
	display: flex;
	flex-direction: row;
	/*justify-content: flex-start;
	align-content: flex-start;*/
}

view-column {
	display: block;
	flex: 1
}
