<component-info id="Button" tag="button">

	<component-properties>
		<component-property name="text" handler="textChange" default="(Button)"></component-property>
		<component-property name="icon" default=""></component-property>
		<component-property name="iconJustify" default="left"></component-property>
		<component-property name="invertColors" default="false" type="Boolean"></component-property>
		<component-property name="color" default="rgb(255,0,0)" maps="div@style.color"></component-property>
		<component-property name="align" default="center" maps="div@attribute.align"></component-property>
	</component-properties>

	<component-view>
		<view-row>
			<view-column width="0.1">A</view-column>
			<view-column>
			</view-column>
		</view-row>
		<div>This is a button.</div>
	</component-view>

</component-info>
