<component-info id="Button" tag="button">

	<component-properties>
		<component-property name="text" handler="textChange" default="(Button)"></component-property>
		<component-property name="icon" default=""></component-property>
		<component-property name="iconJustify" default="left"></component-property>
		<component-property name="invertColors" default="false" type="Boolean"></component-property>
	</component-properties>

	<component-view>
		<view-row>
			<view-column width="0.1">A</view-column>
			<view-column>B</view-column>
		</view-row>
		This is a button.
	</component-view>

</component-info>
