<app-view id="AnimationView">


	<view-row width="10">
		<view-column width="2">kek</view-column>
		<view-column width="6"><h1>1</h1></view-column>
		<view-column width="2">lol</view-column>
	</view-row>

	<view-row width="10">
		<view-column width="2">kek</view-column>
		<view-column width="6"><h1>2</h1></view-column>
		<view-column width="2">lol</view-column>
	</view-row>

	<view-row width="10">
		<view-column width="2">kek</view-column>
		<view-column width="6"><h1>3</h1></view-column>
		<view-column width="2">lol</view-column>
	</view-row>

</app-view>

