<component-info id="TableScore" tag="table-score">

	<component-properties>
		<component-property name="data" default="" handler="onDataChange"></component-property>
	</component-properties>

	<component-view>
		<div class="table">
			<view-row width="4" class="header-row">
				<view-column></view-column>
				<view-column width="1">
					Игрок
				</view-column>
				<view-column width="1">
					Счёт
				</view-column>
				<view-column></view-column>
			</view-row>
		</div>
	</component-view>

</component-info>
